.abc-board {
  padding-top: 70px;
  @include wider-than-tablet {
    padding-top: 140px;
  }
  &__container {
    padding-left: 20px;
    padding-right: 20px;
    @include wider-than-tablet {
      @include section;
    }
  }
  &__title {
    font-size: 22px;
    line-height: 90%;
    letter-spacing: -0.01em;
    @include wider-than-tablet {
      font-size: 30px;
      line-height: 110%;
    }
  }
  &__members {
    padding-top: 17px;
  }
  &__member-btn {
    margin-right: 20px;
    @include wider-than-tablet {
      width: 80px;
      height: 80px;
      margin: -24px 224px -13px auto;
      opacity: 0;
    }
    .abc-board__member:hover & {
      opacity: 1;
    }
  }
}