.animate-showing {
  transform: translateY(60px);
  opacity: 0;
  transition: opacity .4s .3s $easing, transform .4s .3s $easing;
  @include phone {
    transition-delay: .1s, .1s;
  }
  &--showed {
    opacity: 1;
    transform: none;
  }
}

.animate-showing-mobile {
  @include tighter-than-tablet {
    transition: opacity .4s $easing, transform .4s $easing;
    opacity: 0;
    transform: translateY(60px);
  }
  &.animate-showing--showed {
    opacity: 1;
    transform: none;
  }
}

.delay-0 {
  @include wider-than-tablet {
    transition-delay: 0s, 0s;
  }
}

.delay-5 {
  @include wider-than-tablet {
    transition-delay: .5s, .5s;
  }
}

.delay-7 {
  @include wider-than-tablet {
    transition-delay: .7s, .7s;
  }
}

.delay-9 {
  @include wider-than-tablet {
    transition-delay: .9s, .9s;
  }
}