.cursor-drag {
  display: none;
  width: 80px;
  height: 80px;
  &__inner {
    transform-origin: 50% 50%;
    width: 100%;
    height: 100%;
    margin-left: -40px;
    margin-top: -40px;
  }
  svg {
    position: relative;
    z-index: 2;
  }
  @media (any-pointer: fine) {
    @include wider-than-tablet {
      position: fixed;
      top: 0;
      left: 0;
      display: block;
      pointer-events: none;
      z-index: 40;
    }
  }
  circle {
    fill: none;
    stroke: $text-color;
    stroke-width: 1px;
    transform: scale(.6);
    transform-origin: 50% 50%;
    transition: all .8s $easing;
  }
  &__circle-copy {
    position: absolute;
    z-index: 1;
    background-color: rgba(#679096, .1);
    animation: bg-animation 20s ease infinite;
    background-size: 700% 700%;
    width: 80px;
    height: 80px;
    top: 0;
    left: 0;
    margin-top: -40px;
    margin-left: -40px;
    transform: scale(.6);
    transform-origin: 50% 50%;
    transition: all .8s $easing;
    opacity: 0;
    border-radius: 50%;
  }
  ellipse {
    opacity: 0;
    transition: all .8s $easing;
  }
  &.hover-carousel {
    circle {
      transform: scale(1);
      fill: $text-color;
    }
    ellipse {
      opacity: 1;
    }
  }
  &.hover-link {
    circle {
      transform: scale(1);
      fill: rgba(#DAE9EB, 0);
      stroke: rgba($text-color, 0);
    }
    .cursor-drag__circle-copy {
      transform: scale(1);
      opacity: 1;
    }
  }
}

@keyframes bg-animation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.pulsating-circle {
  position: absolute;
  left: 0;
  top: 0;
  transform: translateX(-50%) translateY(-50%);
  width: 30px;
  height: 30px;
  opacity: 0;
  transition: opacity 1s $easing;

  .pulsating & {
    opacity: 1;
  }

  &::before {
    content: '';
    position: relative;
    display: block;
    width: 300%;
    height: 300%;
    box-sizing: border-box;
    margin-left: -100%;
    margin-top: -100%;
    border-radius: 45px;
    background-color: rgba($text-color, .66);
    animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
  }
  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: $text-color;
    border-radius: 15px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .3);
    animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -.4s infinite;
  }
}

@keyframes pulse-ring {
  0% {
    transform: scale(.63);
  }
  80%,
  100% {
    opacity: 0;
  }
}

@keyframes pulse-dot {
  0% {
    transform: scale(.8);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(.8);
  }
}