.curtain {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #dae9eb;
  transform: translateY(100%);
  opacity: .3;
  transition: transform .45s $easing, opacity .45s $easing;
  &.show {
    transform: translateY(0);
    opacity: 1;
  }
}
.curtain-closed {
  transition: transform .45s $easing, opacity .45s $easing;
  transform: scale(0.9);
  opacity: .3;
}