.footer {
  background: linear-gradient(to bottom, #EBEDF0, #fff 100px, #fff);
  padding-top: 130px;
  &__container {
    padding-left: 20px;
    padding-right: 20px;
  }
  &__text {
    font-size: 18px;
    line-height: 90%;
    letter-spacing: -0.01em;
    padding-bottom: 26px;
  }
  &__mail {
    font-size: 31.7066px;
    line-height: 85%;
    letter-spacing: -0.02em;
    text-decoration: underline;
  }
  &__footer {
    padding-top: 76px;
    font-size: 14px;
    padding-bottom: 30px;
  }
  &__copyright {
    line-height: 120%;
  }
  &__designers {
    padding-top: 23px;
    line-height: 130%;
    a {
      text-decoration: underline;
    }
  }
}