.footer {
  padding-top: 130px;
  @include wider-than-tablet {
    height: 100vh;
    padding-top: 0;
  }
  &__container {
    padding-left: 20px;
    padding-right: 20px;
    @include wider-than-tablet {
      @include section;
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
      align-items: flex-start;
    }
  }
  &__text {
    font-size: 18px;
    line-height: 90%;
    letter-spacing: -0.01em;
    padding-bottom: 26px;
    @include wider-than-tablet {
      font-size: 30px;
      line-height: 100%;
      padding-bottom: 39px;
      margin-top: auto;
      padding-top: 170px;
    }
  }
  &__mail {
    font-size: 31.7066px;
    line-height: 85%;
    letter-spacing: -0.02em;
    position: relative;
    display: inline-block;
    &::before,
    &::after {
      position: absolute;
      content: '';
      height: 1px;
      width: 100%;
      background-color: $text-color;
      bottom: 0;
      left: 0;
      transform: scaleX(0);
      transform-origin: 100% 50%;
      transition: transform .35s $easing;
      @include wider-than-tablet {
        height: 3px;
        bottom: -2px;
      }
    }
    &::before {
      transform: scaleX(1);
      transition: none;
    }
    &::after {
      display: inline-block;
      transition: none;
    }
    &:hover {
      @include wider-than-tablet {
        &::before {
          transform-origin: 100% 50%;
          transform: scaleX(0);
          transition: transform .35s $easing;
        }
        &::after {
          transform-origin: 0% 50%;
          transform: scaleX(1);
          transition: transform .35s $easing;
          transition-delay: .35s;
        }
      }
    }
    @include wider-than-tablet {
      font-size: 80px;
      line-height: 85%;
      letter-spacing: -0.02em;
      margin-bottom: auto;
    }
  }
  &__footer {
    padding-top: 76px;
    font-size: 14px;
    padding-bottom: 30px;
    @include wider-than-tablet {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding-top: 170px;
    }
  }
  &__copyright {
    line-height: 120%;
  }
  &__designers {
    padding-top: 23px;
    line-height: 130%;
    @include wider-than-tablet {
      padding-top: 0;
    }
    a {
      position: relative;
      display: inline-block;
      &::before,
      &::after {
        position: absolute;
        content: '';
        height: 1px;
        width: 100%;
        background-color: $text-color;
        bottom: 0;
        left: 0;
        transform: scaleX(0);
        transform-origin: 100% 50%;
        transition: transform .35s $easing;
      }
      &::before {
        transform: scaleX(1);
        transition: none;
      }
      &::after {
        display: inline-block;
        transition: none;
      }
      &:hover {
        @include wider-than-tablet {
          &::before {
            transform-origin: 100% 50%;
            transform: scaleX(0);
            transition: transform .35s $easing;
          }
          &::after {
            transform-origin: 0% 50%;
            transform: scaleX(1);
            transition: transform .35s $easing;
            transition-delay: .35s;
          }
        }
      }
    }
  }
  .projects-page + & {
    padding-top: 130px;
  }
}