.header {
  &__container {
    padding: 20px;
    display: flex;
    align-items: center;
  }
  &__links {
    margin-left: auto;
    font-size: 12px;
    line-height: 130%;
    display: flex;
    align-items: center;
  }
  &__link {
    margin-right: 16px;
  }
  &__btn {
    margin-left: 4px;
  }
}