.list {
  position: relative;
  transition: background-color 1s $easing;
  &__place-for-image {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    mix-blend-mode: exclusion;
    pointer-events: none;
    height: 100%;
    @include wider-than-tablet {
      display: none;
    }
  }
  &__rotate-image-holder {
    animation: tilt 10s linear alternate infinite;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      max-height: 100%;
      display: block;
    }
  }
}

@keyframes tilt {
  0% {
    transform: perspective(1000px) rotateX(25deg) rotateY(25deg) scale3d(1, 1, 1);
  }
  100% {
    transform: perspective(1000px) rotateX(-25deg) rotateY(-25deg) scale3d(1, 1, 1);
  }
}