.lp {
  display: none;
  @include wider-than-tablet {
    display: flex;
    position: fixed;
    z-index: 20;
    padding: 26px 50px;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  &__logo {
    @include wider-than-tablet {
      display: block;
      // position: fixed;
      z-index: 10;
      left: 50px;
      top: 26px;
    }
  }
  &__logo-img {
    width: 106px;
    height: 35px;
  }
  &__scroll-block {
    display: flex;
    align-items: center;
    transform-origin: 50% 50%;
    transform: rotate(-90deg);
    position: absolute;
    opacity: 0;
    transition: opacity .45s $easing;
    .ready & {
      opacity: 1;
    }
  }
  &__scroll {
    height: 1px;
    width: 162px;
    position: relative;
  }
  &__scroll-rail {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba($text-color, .2);
    top: 0;
    left: 0;
  }
  &__scroll-trigger {
    position: absolute;
    width: 24px;
    height: 100%;
    top: 0;
    right: 0;
    background-color: $text-color;
  }
  &__title {
    font-size: 14px;
    display: inline-block;
    white-space: nowrap;
    margin-left: 14px;
    margin-right: 14px;
    &--section {
      text-align: right;
      width: 80px;
      min-width: 80px;
      max-width: 80px;
      height: 16px;
      overflow: hidden;
    }
  }
  &__sections-list {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-end;
    transition: transform .35s $easing;
  }
  &__scroll-wrap {
    position: relative;
    transform: translateX(-156px);
  }
  &__arrow {
    transform: rotate(90deg) translateX(1px);
  }
}