html,
body {
  height: 100%;
  color: $text-color;
  font-family: 'neue', sans-serif;
  font-weight: 500;
}
* {
  box-sizing: border-box;
}
a {
  color: $text-color;
  text-decoration: none;
}
button:focus {
  outline: none;
}
.main {
  min-height: 100%;
  overflow: hidden;
  &__container {
    padding-top: 100px;
    @include wider-than-tablet {
      padding-top: 0;
    }
  }
}
.wtt {
  display: none;
  @include wider-than-tablet {
    display: block;
  }
}
body {
  background-color: #E7F1F2;
  transition: background-color 1s $easing;
  cursor: url('../images/cursor.svg') 5 5, auto;
  &[data-page="about"] {
    background-color: #F6F0E9;
  }
}
button,
a {
  cursor: url('../images/cursor.svg') 5 5, auto;
}
