.member {
  padding-top: 12px;
  padding-bottom: 13px;
  @include wider-than-phone {
    margin-left: 15px;
    margin-right: 15px;
    padding-bottom: 0;
    padding-top: 0;
  }
  &__avatar-holder {
    position: relative;
  }
  &__avatar {
    width: 100%;
    vertical-align: middle;
  }
  &__btn {
    right: -2px;
    position: absolute;
    top: 0;
    z-index: 2;
  }
  &__name {
    font-size: 22px;
    line-height: 90%;
    padding-top: 28px;
    letter-spacing: -0.01em;
    @include wider-than-tablet {
      font-size: 30px;
      line-height: 110%;
      padding-top: 25px;
    }
  }
  &__position {
    padding-top: 8px;
    font-size: 14px;
    line-height: 130%;
    opacity: 0.5;
  }
  &__info {
    display: none;
    @include wider-than-tablet {
      display: block;
      position: absolute;
      width: 380px;
      right: 20px;
      bottom: 20px;
      z-index: 1;
      transform: translateY(calc(100% - 60px));
      transition: transform .45s $easing;
    }
    &.open {
      transform: translateY(0);
      .member__btn {
        @include wider-than-tablet {
          top: 0;
          svg {
            transform: rotate(45deg);
          }
        }
      }
    }
    &--visible {
      display: block;
    }
  }
  &__description {
    font-size: 14px;
    line-height: 140%;
    padding-top: 20px;
    @include wider-than-tablet {
      font-size: 16px;
      line-height: 150%;
      padding-top: 26px;
    }
  }
  &__info-inner {
    opacity: 0;
    background-color: #fff;
    padding: 20px 0 0;
    @include wider-than-tablet {
      padding: 30px 60px 52px;
      transition: opacity .45s $easing;
    }
    .open & {
      opacity: 1;
    }
  }
  &__mobile-btn {
    display: flex;
    right: 30px;
    bottom: 50px;
    position: absolute;
    @include wider-than-tablet {
      display: none;
    }
  }
}