.modal {
  width: 100%;
  height: 100%;
  border-radius: 0;
  padding: 0;
  max-width: none;
  transform-origin: 50% 0;
  transform: scaleY(0);
  transition: transform .45s $easing;
  box-shadow: none;
  @include wider-than-tablet {
    width: 602px;
  }
  &__inner {
    opacity: 1;
    height: 100%;
    position: relative;
    z-index: 2;
    background-color: #fff;
  }
  &__container {
    max-height: 100%;
    overflow: auto;
    opacity: 0.01;
    height: 100%;
    transform: translateY(200px);
    transition: transform .45s .1s $easing, opacity .45s .1s $easing;
    padding: 30px 20px;
  }
  &.open {
    transform: scaleY(1);
    .modal__container {
      opacity: 1;
      transform: none;
    }
  }
  &__close.round-outline-btn {
    position: absolute;
    right: 20px;
    top: 18px;
    z-index: 3;
    @include wider-than-tablet {
      top: 20px;
      left: -80px;
      right: auto;
      transform: translateX(100px);
      transition: transform .2s $easing;
      z-index: 1;
      &:hover {
        transform: translateX(100px) scale(1.2);
      }
      .open & {
        transform: translateX(0);
        transition: transform .2s .35s $easing;
      }
    }
  }
}
.blocker {
  background-color: rgba(#000, .4);
  padding: 0;
  z-index: 30;
  @include wider-than-tablet {
    text-align: right;
  }
  &::before {
    display: none;
  }
}