.project-thumb {
  &__container {
    padding: 30px;
    background-color: #fff;
    @include wider-than-tablet {
      padding: 20px;
      display: flex;
    }
    .projects-page__list & {
      @include wider-than-tablet {
        padding: 30px;
      }
    }
  }
  &__info {
    @include wider-than-tablet {
      flex-grow: 1;
      margin-right: 20px;
      padding-top: 16px;
      padding-left: 23px;
    }
    @include desktop {
      margin-right: 90px;
    }
    .projects-page__list & {
      @include wider-than-tablet {
        padding-left: 10px;
        padding-top: 5px;
      }
    }
  }
  &__number {
    font-size: 14px;
    line-height: 140%;
    @include wider-than-tablet {
      font-size: 16px;
      line-height: 150%;
    }
  }
  &__title {
    font-size: 22px;
    line-height: 90%;
    letter-spacing: -0.01em;
    padding-top: 17px;
    @include wider-than-tablet {
      font-size: 30px;
      line-height: 110%;
      padding-top: 28px;
    }
  }
  &__description {
    font-size: 14px;
    line-height: 140%;
    padding-top: 12px;
    @include wider-than-tablet {
      font-size: 16px;
      line-height: 150%;
    }
  }
  &__btn {
    margin-top: 19px;
    margin-bottom: 30px;
    @include wider-than-tablet {
      margin-top: 35px;
      margin-bottom: 37px;
    }
  }
  &__image {
    height: 190px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    @include tablet-only {
      height: 250px;
    }
    @include wider-than-tablet {
      flex-basis: 319px;
      flex-shrink: 0;
      height: auto;
      flex-grow: 0;
    }
  }
  &:nth-child(1) {
    .project-thumb__image {
      background-image: url('../images/1.gif');
    }
  }
  &:nth-child(2) {
    .project-thumb__image {
      background-image: url('../images/2.gif');
    }
  }
  &:nth-child(3) {
    .project-thumb__image {
      background-image: url('../images/3.gif');
    }
  }
  &:nth-child(4) {
    .project-thumb__image {
      background-image: url('../images/4.gif');
    }
  }
  .projects-page__list & {
    margin-bottom: 20px;
    @include wider-than-tablet {
      margin-bottom: 30px;
      margin-left: 15px;
      margin-right: 15px;
      flex-grow: 1;
      flex-basis: calc(50% - 30px);
      flex-shrink: 0;
    }
    .project-thumb__container {
      flex-direction: column;
    }
  }
}