.services-introduction {
  border-bottom: 2px solid $text-color;
  padding-bottom: 18px;
  &__title {
    font-size: 26px;
    line-height: 90%;
    letter-spacing: -0.01em;
    padding-bottom: 13px;
  }
  &__description {
    font-size: 14px;
    line-height: 140%;
  }
}