.services {
  background: linear-gradient(to bottom, #E7F1F2 150px, #fff);
  padding-top: 130px;
  &__container {
    padding-left: 20px;
    padding-right: 20px;
  }
  &__title {
    padding-top: 49px;
    font-size: 22px;
    line-height: 90%;
    letter-spacing: -0.01em;
  }
  &__list {
    padding-top: 22px;
  }
}