.split-line {
  overflow: hidden;
  display: inline-block;
  position: relative;
  &--skip-mobile {
    @include phone {
      display: inline;
    }
  }
  &__hidden-text {
    transform: translateY(100%);
    user-select: none;
    position: absolute;
    top: 0;
    left: 0;
  }
  &__transparent-text {
    color: transparent;
  }
}