.to-top-faw {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 41px;
  height: 41px;
  background-color: #EDEFF1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}